.footer-container{
  margin-bottom: 1%;
}
.social-media{
  color:grey;
  margin-left: 20px;
  &.dark{
    color:red;
  }
}

.icon-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 10.83% ;
}

#icons { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: FontAwesome5Brands-Regular;
  color:grey;
  letter-spacing: 0;
  :hover{
    color: $purple-color;
  }
}

.footer-font{
  font-weight: 500;
  font-size: 13px;
  color: $black-font-color;
  text-align: center;
  &.dark{
    color:red;
  }
}
  
.media-container{
  display: flex;
  justify-content: space-between;
}

.copyright{
  margin-right: 10.83%;
}

@media only screen and (max-width: 615px) {
    
  .icon-container{
    flex-direction: column;
    margin: 0;
  }
  .media-container{
    flex-direction: column;
    justify-content: center;
  }
 #icons{
    justify-content: center;
   // margin-left: -20px;
    //padding: 0;
  }
  .copyright{
    margin: 0;
  }
}  
  
