//Main content
.main__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

//Title header
#break__desktop{
    display: block;
}
#title__color{
    color: $purple-color;
    font-size: 35px;
    text-align: center;
    line-height: 50px;
    margin-top: 50px;
}
.change__color{
    color: $aqua-font-color;
}

//Header Ilustration
.container__photo {
    position:relative;
    height: 100%;
    width:100%;
}

//Search
.container_search {
    display: flex;
    flex-direction: column;
    align-content: center;
}
.search {
    display: flex;
    align-items: center;
    position: relative;
    top: 66.6%;
    background-color: $background-color;
    padding: 10px;
    height: 30px;
    width: 551px;
    margin-left: 15%;
    border-radius: 50px;
    border: 1px solid $purple-color;

}    
.search__text{
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
    float: left;
    line-height: 50px;
    transition: .3s;
    width: 551px;
    
}

//Search button
.button{
    width: 20px;
    height: 20px;
    text-decoration: none;
    color: $purple-color;
}
#button__search{
    border: none;
    background: none;
}

.gifos__results{
    display: none;
}

//Search Results 

.results{
    columns: 4;
    column-gap: 1em;
}
/*.item { comentado por prueba en favoritos
    margin-bottom: 1em;
    margin-top: 1em;
}*/
#results{
   width: calc(200px*4 + 3em);
}

.gral-button{
    display: none; //should be block when the search appear.
    position: absolute;
    margin-left: 25%;
    margin-top: 2%;
    
    :hover{
        background-color:$purple-color;
        color:$background-color;
    }
    
}
#button-format{ // this can be in general style
    background: none;
    color: none;
    border-radius: 50px;
    border: 0.5px solid $purple-color;
    height: 50px;
    width: 127px;
}


//Responsive//
@media only screen and (max-width: 480px) {
    
}