//Main content
.main__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

//Title header
#break__desktop{
    display: block;
}
#title__color{
    color: $purple-color;
    font-size: 35px;
    text-align: center;
    line-height: 50px;
    margin-top: 50px;
}
.change__color{
    color: $aqua-font-color;
}

//Header Ilustration
.container__photo {
    position:relative;
    height: 100%;
    width:100%;
}

//Search
.container_search {
    display: flex;
    flex-direction: column;
    align-content: center;
}
.search {
    display: flex;
    align-items: center;
    top: 66.6%;
    background-color: $background-color;
    padding: 10px;
    height: 30px;
    width: 551px;
    margin-left: 10%;
    border-radius: 50px;
    border: 1px solid $purple-color;

}    
.search__text{
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
    float: left;
    line-height: 50px;
    transition: .3s;
    width: 551px;
    
}

//Search button
.button{
    width: 20px;
    height: 20px;
    text-decoration: none;
    color: $purple-color;
}
#button__search{
    border: none;
    background: none;
}

.gifos__results{
    display: none;
}

//Search Results 
.results{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 70%; 
    margin-left: 10%;  
}

/*.item { comentado por prueba en favoritos
    margin-bottom: 1em;
    margin-top: 1em;
}*/


.gral-button{
    display: none; //should be block when the search appear.
    position: absolute;
    margin-left: 25%;
    margin-top: 2%;
    
    :hover{
        background-color:$purple-color;
        color:$background-color;
    }
    
}
#button-format{ // this can be in general style
    background: none;
    color: none;
    border-radius: 50px;
    border: 0.5px solid $purple-color;
    height: 50px;
    width: 127px;
}

.img-layer{
    width: 260px;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    margin-left: -260px; //-19%;
    opacity: 0;
    transition: all .3s ease-in-out;  
}
.img-layer:hover {
    background-color: $purple-color;
    opacity: 0.7;
    width: 260px;
    height: 200px;
}

#icons-layer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 2%;
}
.icons-layer {
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin-right: 4%;
    margin-top: 5%;
    border:none;
    border-radius: 6px;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

//Responsive//
@media only screen and (max-width: 480px) {
    
}