//Main content
.main__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
}


//Title header
#break__desktop{
    display: block;
}

.title__color{
    color: $purple-color;
    font-size: 35px;
    text-align: center;
    line-height: 50px;
    margin-top: 50px;

    
}

.change__color{
    color: $aqua-font-color;
}

//Header Ilustration
.container__photo {
    //position:relative;
    height: 190px;
    width:399px;
}

//Search
.container_search {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
form{
    height: 40px;
    width: 551px;
    top: 66.6%;
    border-radius: 50px;
    border: 1px solid $purple-color;
    
}

.search {
    display: flex;
    align-items: center;
    background-color: $background-color;
    padding: 10px;
}    

.search__text{
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
    float: left;
    line-height: 50px;
    transition: .3s;
    width: 551px;
    
}
#list-auto{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
#header-results{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#search-font{
    font-size: 35px;
    text-align: center;
    line-height: 30px;
    margin-top: 5%;
   

}
//Search button
.button{
    width: 20px;
    height: 20px;
    text-decoration: none;
    color: $purple-color;
}
#button__search{
    border: none;
    background: none;
}

.gifos__results{
    display: none;
}

//Search Results 
.results{
   /* display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 70%; 
    margin-left: 10%;  */
    display: inline;
    width: calc(280px * 4 + 4em);
    margin: auto;
}

.galeryMeasure{
    width: 260px; 
    height: 200px;
    margin-left: 2%;
    margin-bottom: 2%;
}

.img-layer{
    display: inline;
    position: absolute;
    width: 262px;
    height: 200px;
    margin-left: -262px;
    margin-top: 0;
    z-index: 0;
    opacity: 0;
    transition: all .3s ease-in-out;  

}
.img-layer:hover {
   background-color: $purple-color;
   opacity: 0.7;
   width: 263px;
   height: 200px;
}
#icons-layer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 2%;
}
.icons-layer {
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin-right: 4%;
    margin-top: 5%;
    border:none;
    border-radius: 6px;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

/*

.galeryMeasure{
    width: 260px; 
    height: 200px;
    margin-left: 2%;
    margin-bottom: 2%;
}

.img-layer{
    display: inline;
    position: absolute;
    width: 262px;
    height: 200px;
    margin-left: -262px;
    margin-top: 0;
    z-index: 0;
    opacity: 0;
    transition: all .3s ease-in-out;  

}
.img-layer:hover {
   background-color: $purple-color;
   opacity: 0.7;
   width: 263px;
   height: 200px;
}
#icons-layer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 2%;
}
.icons-layer {
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin-right: 4%;
    margin-top: 5%;
    border:none;
    border-radius: 6px;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}*/


//Style list autocompleted
.autoList{
    list-style: none;
    display: block;
}
.autocomplete{
    margin-top: -72px;
    margin-left: -445px;
}





//Line results
.gray-line{
    opacity: 0.5;
    border: 1px solid #9CAFC3;
    width: 338px;
    height: 0.1px;
    
}
#button-more{ // this can be in general style
    display: none;
    background: none;
    color: $background-color;
    border-radius: 50px;
    border: 0.5px solid $purple-color;
    height: 50px;
    width: 127px;
    //display: block; //should be block when the search appear.
    //position: absolute;
    margin-left: 25%;
    margin-top: 2%;
    
    :hover{
        background-color:$purple-color;
        color:$background-color;
    }
}


.gral-button{
    display: block; //should be block when the search appear.
    position: absolute;
    margin-left: 25%;
    margin-top: 2%;
    
    :hover{
        background-color:$purple-color;
        color:$background-color;
    }
    
}
#button-format{ // this can be in general style
    background: none;
    color: none;
    border-radius: 50px;
    border: 0.5px solid $purple-color;
    height: 50px;
    width: 127px;
}


/* COMENTADO POR AJUSTES EN LAYERS DE FAVORITOS
.img-layer{
    width: 260px;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    margin-left: -260px; //-19%;
    opacity: 0;
    transition: all .3s ease-in-out;  
}
.img-layer:hover {
    background-color: $purple-color;
    opacity: 0.7;
    width: 260px;
    height: 200px;
}

#icons-layer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 2%;
}
.icons-layer {
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin-right: 4%;
    margin-top: 5%;
    border:none;
    border-radius: 6px;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}*/


/////The Modal


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 80%; /* Full height */
    overflow: auto; /* Enable scroll if needed */

    background-color: red; /* Black w/ opacity */
}

.mySlidesModal{
    display: flex;
    justify-content: center;
    //margin-left: 5%;
}
/* Modal Content/Box */
.modal-container {
    background-color: #fefefe;
   // margin: 15% auto; /* 15% from the top and centered */
    //padding: 20px;
    border: none;
    //width:80%; /* Could be more or less, depending on screen size */
}

.close {
    color: greenyellow;
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    font-size: 50px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

//Next and previous buttons
.prev2, .next2 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 8px;
    color: $purple-color;
    border-style: solid;
    border-width: 2px;
    font-size: 14px;
    transition: 0.6s ease;
    user-select: none;
}
//Position the "next button" to the right 
.next2 {
    right: 0;
  }

//On hover, add a black background color with a little bit see-through
.prev2:hover, .next2:hover {
    background-color:$purple-color;
    color: white;
    border-color: $purple-color;
  }

.arrowsModal {
    display: flex;
    justify-content: space-around;
    margin-left: 22%;
    margin-right: 22%;
}
#titleModal{
    font-size: 15px;
    color: $black-font-color;
    font-weight: 400;
}
#userModal{
    font-size: 16px;
    font-weight: bold;
}
.icons-layer-modal {
    cursor: pointer;
    //display: flex;
    flex-direction: row;
    //justify-content: space-between;
    width: 32px;
    height: 32px;
    //margin-right: 4%;
    margin-top: 100%;
    border:2px $purple-color;
    border-radius: 6px;
    background: none;
    color: inherit;
    cursor: pointer;
    outline: inherit;
}
.modal-icon-layer{
    display: flex;
    padding-top: 23%;
    justify-content: space-between;
    margin-left: -5%;
}

//Responsive//
@media only screen and (max-width: 615px) {
    
    .container_search{
        margin-left: 5%;
        margin-top: 5%;
        max: width 334px;;
        margin-left: 10%;
    }
    .container__photo {
        //position:relative;
        height: 130px;
        width:273px;
    }
    .title__color{
        
        font-size: 25px;
        text-align: center;
        line-height: 33px;
        margin-top: 20%;
     /*   &.dark {
            color: red;
        }*/
        
    }
    #break__desktop{
        display: inline;
    }
    form{
        height: 40px;
        width: 334px;
        //top: 66.6%;
       // margin-left: 10%;
        border-radius: 27px;
        //border: 1px solid $purple-color;
    }
    .search{
        padding: 0;
      
    }
    .title{
        margin-left: 5%;
        margin-top: 5%;
    }
    .galeryMeasure{
        width: 156px; 
        height: 120px;
        margin-left: 5%;
        margin-bottom: 5%;
    }
    .results{
        display: inline;
        width: calc(156px * 2 + 4em);
        margin: auto;
    }
    .img-layer{
        display: none;
    }
}