//Container
.trending{
    background-color:#F3F5F8;
    height: 640px;
    width: 100%;
    margin-top: 50px;
    padding-top: 10px;
    position: center;
}

#trending__description{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 50px;
    font-weight: 400;
    color: $black-font-color;
    text-align: center;
}
.trending__gifs{
    margin-top: 4%;
}
.trending__header{
    margin-top: 38px;
}
#title__trending{
    color: $purple-color;
    line-height: 30px;
}
#trending-font{
    font-size: 18px;
    line-height: 25px;
    margin-top: 5%;
}

//Slideshow
.slideshow-container {
    max-width: 1127px;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.styleCard{
    width: 357px;
    height: 275px;
}

//Next and previous buttons
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 8px;
    color: $purple-color;
    border-style: solid;
    border-width: 2px;
    font-size: 14px;
    transition: 0.6s ease;
    user-select: none;
}
//Position the "next button" to the right 
.next {
    right: 0;
}

//On hover, add a black background color with a little bit see-through
.prev:hover, .next:hover {
    background-color:$purple-color;
    color: white;
    border-color: $purple-color;
}

//Fading animation
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.buttons-container{
    position: absolute;
    margin-left:20%;
    margin-top: 1%;
 }

 .img-layer-trending{
    width: 357px;
    height: 275px;
    display: flex;
    justify-content: flex-end;
    margin-left: -357px; 
    opacity: 0;
    transition: all .3s ease-in-out;  
}
.img-layer-trending:hover {
    background-color: $purple-color;
    opacity: 0.7;
    width: 357px;
    height: 275px;
}

#icons-layer-trending {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 2%;
}
.icons-layer-trending {
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin-right: 4%;
    margin-top: 5%;
    border:none;
    border-radius: 6px;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.arrowsTrend {
    display: flex;
    justify-content: space-around;
    margin-left: -5%;
    margin-right: -5%;
}
.user-trend{
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 15px;
    color: $background-color;
    display: block;
    margin-left: 5px;
    margin-top:50%;
    width: 240px;
}
.titleGtrend{
    font-size: 16px;
    font-weight: bold;
    display: block;
}
.imgSize{
    width: 695px; 
    height: 385px; 
    margin-top: 200px;

}

@media only screen and (max-width: 615px) {
    .imgSize{
        margin-top: 200px;
        margin-left: 8%;
        width: 318px; 
        height: 245px;
    }
    
    .trending{
        background-color:#F3F5F8;
        height: 430px;
        width: 100%;
        margin-top: 50px;
        padding-top: 10px;
        position: center;
    }
    .img-layer-trending{
        display: none;
    }
    .slideshow-container{
        max-width:375px;
        overflow: hidden; 
    }
   .styleCard{
        width: 243px;
        height: 187px;
    }
    .modal{
        width: 100%;
        height: 100%;
    }
    .modal-container{
        width: 100%;
        height: 100%;
    }

}