$purple-color: #572EE5;
$black-font-color: black;
$aqua-font-color: #5ED7C6;
$background-color: #FFFFFFFF;
$second-night-font-color: #9CAFC3;
$night-background-color:#37383C;
$font-roboto: 'Roboto', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;