//Fonts 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@400;700;900&display=swap');

//Variables
@import "_variables.scss";

//General
@import "_general.scss";

//Menu
@import "_navbar.scss";

//Main
@import "_main.scss";

//Night mode
@import "_nightmode.scss";

//Trending - Slider
@import "_trending.scss";

//Footer 
@import "_footer.scss";

.camera-display{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-left: 10.8%;
}
.create-gifo-container{
    border: 1.5px solid $purple-color;
    width: 688px;
    height: 390px;
}

.tapes-container{
    display: flex;
    flex-direction: row;
    margin-bottom: -8%;
    margin-left: 5%;
    border-collapse: collapse;
    position: relative;
    
}
.camera-container{
    margin-top: 8%;
    display: flex;
    flex-direction: row;
}
.tapes-cam-container{
    display: flex;
    flex-direction: column;
    //margin-top: 30%;
    width: 123px;
    height: 162px;
    
}

#tape-animation1 {
    width: 30%;;
    margin-top:20%;
    opacity: 100%;
}
#tape-animation2{
    width: 50%;
    opacity: 100%;
}
.light{
    margin-top: 15%;
    opacity: 50%;
    width: 91px;
    height: 151px;
}
#num-bar-container{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    
} 
.numbers-container{
    display: flex;
    flex-direction: row;
    width: 45%;
    margin-left: 15%;
    margin-bottom: 5%;


}
.num-repeat-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30%;
}

.button-number{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    border: 1px solid $purple-color;
    background: none;
    margin-left: 5%;
    font-family: $font-roboto;
    color: $purple-color;
    font-size: 18px;
    
}

.button-number-selected{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    border: 1px solid $purple-color;
    background: $purple-color;
    margin-left: 5%;
    font-family: $font-roboto;
    color: $background-color;
    font-size: 18px;
    
}

.bottom-camera-display{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}
.bottom-bar{
    width: 795.9px;
    height: 6.9px;
    background-color: $purple-color;
    border-radius: 30px;
}
#tape{
    margin-top: -20%;
}
#repeat-gif {
    font-size: 13px;
    letter-spacing: 0;
    display: none; //hidden repetir captura.Should be showed in create gifo 2.
    //Also hidden timer. Should be showed in crear gifo 3, after stop capture.
}
.text-gifo-container{ 
    display: flex;
    flex-direction: column;

}
.text-gifo-container-recording{ //Hidden in crear gifo 1. 
    display: none;
}
#main-msg{
    color: $purple-color;
    line-height: 35px;
    margin-top: 134px;
    margin-bottom: 3px;
}
.create-subtitle{
    font-family: $font-roboto;
    font-size: 16px;
    color: $black-font-color;
    text-align: center;
    line-height: 29px;
    margin-top: 0%;
}
