//Fonts 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@400;700;900&display=swap');

//Variables
@import "_variables.scss";

//General
@import "_general.scss";

//Menu
@import "_navbar.scss";

//Main
@import "_main.scss";

//Night mode
//@import "_nightmode.scss";

//Trending - Slider
@import "_trending.scss";

//Footer 
@import "_footer.scss";


#main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5.8%;
}
.camera-display{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-left: 8%;
}
.create-gifo-container{
    border: 1.5px solid $purple-color;
    width: 688px;
    height: 390px;
   
}

.tapes-container{
    display: flex;
    flex-direction: row;
    margin-bottom: -8%;
    margin-left: 5%;
    border-collapse: collapse;
    position: relative;
    
}
.camera-container{
    margin-top: 6%;
    display: flex;
    flex-direction: row;
}

.video-preview{
    width: 480px;
    height: 320px;
    margin-left: 15%;
    margin-top: 5%;
}
video{
    margin-left: 15%;
    margin-top: 5%;
}

.tapes-cam-container{
    display: flex;
    flex-direction: column;
    //margin-top: 30%;
    width: 123px;
    height: 162px;
    
}
/*.camera_img{
    background:  {
        image: url("assets/element-camara.svg");
}}
    */
#tape-animation1 {
    width: 30%;;
    margin-top:20%;
    opacity: 100%;
}
#tape-animation2{
    width: 50%;
    opacity: 100%;
}
.light{
    margin-top: 15%;
    opacity: 50%;
    width: 91px;
    height: 151px;
}
#num-bar-container{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    
} 
.numbers-container{
    display: flex;
    flex-direction: row;
    width: 45%;
    margin-left: 16%;
    margin-bottom: 5%;
    margin-top: -3%;


}
.num-repeat-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30%;
}


.button-number{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    border: 1px solid $purple-color;
    background: none;
    margin-left: 5%;
    font-family: $font-roboto;
    font-weight: medium;
    color: $purple-color;
    font-size: 18px;
}

.button-number-selected{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    border: 1px solid $purple-color;
    background: $purple-color;
    margin-left: 5%;
    font-family: $font-roboto;
    font-weight: medium;
    color: $background-color;
    font-size: 18px;
    
}

.bottom-camera-display{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}
.bottom-bar{
    width: 795.9px;
    height: 6.9px;
    background-color: $purple-color;
    border-radius: 30px;
}
#tape{
    margin-top: 383px;
    margin-left: 67px;
}

.timer-container {
    display: block; 
    font-size: 15px;
    letter-spacing: 0;
    margin-right: 10%;
    font-family: $font-montserrat;
    font-weight: bold;
    color:$purple-color;
}
#repeat-gif {
    font-size: 13px;
    letter-spacing: 0;
    display: none; 
    margin-right: 10%;
    &:hover{
        text-decoration: underline $aqua-font-color 3px;
    }
}
.text-gifo-container{ 
    display: flex;
    flex-direction: column;

}
.text-gifo-container-recording{ //Hidden in crear gifo 1. 
    display: none;
    
}
.main-msg{
    color: $purple-color;
    line-height: 35px;
    margin-top: 134px;
    margin-bottom: 3px;
}
.create-subtitle{
    font-family: $font-roboto;
    font-size: 16px;
    color: $black-font-color;
    text-align: center;
    line-height: 29px;
    margin-top: 0%;
}


#start {
    display: block; 
    margin-left: 41.5%;
    margin-top: 3%;
    background: none;
    border-radius: 50px;
    border: 1px solid $purple-color;
    height: 50px;
    width: 127px;
    font-size: 13px;
    font-family: $font-montserrat;
    font-weight: bold;
    color:$purple-color;
    &:hover{
        background-color: $purple-color;
        color: $background-color;
    }
}

#record {
    display: none;
    margin-left: 41.5%;
    margin-top: 3%;
    background: none;
    border-radius: 50px;
    border:  1px solid $purple-color;
    height: 50px;
    width: 127px;  
    font-size: 13px;
    font-family: $font-montserrat;
    font-weight: bold;
    color:$purple-color;
        &:hover{
            background-color: $purple-color;
            color: $background-color;
     }
}

#upload{
    display: none;
    background: none;
    color: none;
    border-radius: 50px;
    border:  1px solid $purple-color;
    height: 50px;
    width: 127px;  
    margin-left: 41.5%;
    margin-top: 3%;
    font-size: 13px;
    font-family: $font-montserrat;
    font-weight: bold;
    color:$purple-color;
        &:hover{
            background-color: $purple-color;
            color: $background-color;
     }
}

.uploadMessage{
    display: none;
    flex-direction: column;
    width: 480px;
    height: 320px;
    justify-content: center;
    align-items: center;
    background-color: #572EE5;
    opacity: 0.7;
    margin-left: -796px;
    margin-top: 2.8%;
    
}
.progress-icon{
    display: flex;
    justify-content: center;
}

.upload-message-done{
    display: none;
    width: 480px;
    height: 320px;
    background-color: #572EE5;
    opacity: 0.7;
    margin-left: -796px;
    margin-top: 2.8%;
}

.progress-icon{
    display: flex;
    justify-content: center;
}
.upload-msg{
    color: $background-color;
    display: flex;
    justify-content: center;
}
#icons-layer-gifo{
   display: flex;
   justify-content: flex-end;
   margin-left: 85%;
   margin-bottom: 20%;
   margin-top: 3px;
}
.icons-layer-gifo{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin-right: 4%;
    margin-top: 5%;
    border:none;
    border-radius: 6px;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
