//Fonts 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@400;700;900&display=swap');

//Variables
@import "_variables.scss";

//General
@import "_general.scss";

//Menu
@import "_navbar.scss";

//Main
@import "_main.scss";

//Trending - Slider
@import "_trending.scss";

//Footer 
@import "_footer.scss";

#margin-galery{
    margin-left: 10%;
    margin-top: 2%;
}
.title-mygifs {
    color: $purple-color;
    font-size: 15px;
    text-align: center;
    margin-top: 110px;
}
#default-msg{
    font-size: 22px;
    color:$aqua-font-color;
}
.fav-mygifs-empty-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}
#icon-mygifs-sin-contenido{
    width: 151px;
    height: 150px;
}

.galery{  
    display: inline;
    width: calc(260px * 4 + 4em);
    margin: auto;
  
}

.galeryMeasure{
    width: 260px; 
    height: 200px;
    margin-left: 2%;
    margin-bottom: 2%;
}

.img-layer{
    display: inline;
    position: absolute;
    width: 262px;
    height: 200px;
    margin-left: -262px;
    margin-top: 0;
    z-index: 0;
    opacity: 0;
    transition: all .3s ease-in-out;  
}
.img-layer:hover {
   background-color: $purple-color;
   opacity: 0.7;
   width: 260px;
   height: 200px;
}
#icons-layer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 2%;
}
.icons-layer {
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin-right: 4%;
    margin-top: 5%;
    border:none;
    border-radius: 6px;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.user-title{
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 15px;
    color: $background-color;
    display: block;
    margin-left: 5px;
    margin-top:30%;
    width: 200px;
}
.titleG{
    font-size: 16px;
    font-weight: bold;
    display: block;
}

@media only screen and (max-width: 615px) {

    .galeryMeasure{
        width: 156px; 
        height: 120px;
        margin-left: 5%;
        margin-bottom: 5%;
    }
    .galery{
        display: inline;
        width: calc(156px * 2 + 4em);
        margin: auto;
  
    }
    .img-layer{
        display: none;
    }
    .title-mygifs {
        margin-top: 77px;
    }
    
}